.wrapper {
  background-color: var(--bgSoft);
  width: 100%;
  max-width: 500px;
  padding: 40px;
  border-radius: 5px;
}

.form {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.input {
  padding: 20px;
  background-color: var(--bg);
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  color: var(--textColor);
  font-weight: 700;
  border: none;
  border-radius: 5px;
}
