:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: #ffffff;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.no-scroll {
  overflow: hidden;
}