.container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding-top: 100px;
  gap: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  height: calc(100vh - 100px);
  transform: translateX(-100%);
  background-color: var(--bg);
  animation-name: slideInRight;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  z-index: 1;
}

.burgerButton {
  margin-top: 5px;
  box-sizing: border-box;
  color: var(--text);
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  display: none;
}

.menuOpen {
  transform: translateX(0);
}

.menuClose {
  animation-name: slideOutRight;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 900px) {
  .wrapper {
    display: none;
  }

  .burgerButton {
    display: block;
  }
}